aniso8601==1.2.0
cachelib==0.4.1
cffi==1.15.0
click==8.0.3
cryptography==42.0.2
Flask==2.3.2
Flask-Ask==0.9.8
Flask-Session==0.4.0
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pycparser==2.21
pyOpenSSL==17.5.0
python-dateutil==2.8.2
PyYAML==5.4
six==1.11.0
typing-extensions==3.10.0.2
Werkzeug==2.2.3
zipp==3.6.0
